@media only screen and (max-width: 768px) and (min-width: 321px) {
    .table {
        & thead {
            display: none;
        }
        &,
        & tbody,
        & tr,
        & td {
            display: block;
            width: 100%;
        }
        & tr {
            margin-bottom: 15px;
        }
        & td {
            text-align: right;
            justify-content: left;
            float: right;
            padding-left: 50%;
            position: relative;
        }
        & .wrapText {
            padding-left: 45%;
            text-align: left;
            justify-content: center;
            word-wrap: break-word;
        }
        & td::before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            width: 45%;
            padding-left: 15px;
            font-size: 15px;
            font-weight: bold;
            text-align: left;
            word-wrap: break-all;
        }
    }
    .edit-btn {
        padding-right: 25px !important;
        padding-left: 25px !important;
        margin-right: 115px !important;
    }
    .delete-btn {
        margin-right: 115px !important;
    }
}

@media (max-width: 767px) and (min-width: 321px) {
    .wrapText {
        word-wrap: break-all;
        padding-left: 30%;
        text-align: left;
    }
}

@media (max-width: 767px) and (min-width: 450px) {
    .btn-cancel {
        margin: 0px 90px;
    }
}

@media (max-width: 449px) and (min-width: 414px) {
    .btn-cancel {
        margin: 0px 75px;
    }
}

@media (max-width: 413px) and (min-width: 411px) {
    .btn-cancel {
        margin: 0px 70px;
    }
}

@media (max-width: 410px) and (min-width: 375px) {
    .btn-cancel {
        margin: 0px 55px;
    }
    .th-width {
        width: 50px;
    }
}

@media (max-width: 374px) and (min-width: 360px) {
    .btn-cancel {
        margin: 0px 50px;
    }
    .wrapText {
        word-wrap: break-word;
    }
}

@media (max-width: 320px) and (min-width: 281px) {
    .btn-cancel {
        margin: 0px 30px;
    }
}

@media (max-width: 280px) and (min-width: 0) {
    .btn-cancel {
        margin: 0px 6px;
    }
}